.myButton {
    background-color: transparent;
    border: 2px solid #eb4034 ;
    padding: 2px;
    border-radius: 5px;
    font-size: medium;
}

.myButton:hover {
    color: white;
    background-color: #eb4034;
}