.myButton {
    background-color: transparent;
    border: 1.5px solid #eb4034 ;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    margin-right: 10px;
}

.myButton:hover {
    color: white;
    background-color: #eb4034;
}