.myHeader{
    background-color: #eb4034;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: medium;
    padding: 15px;
}

.headerOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerOption {
    padding: 10px;
}

.headerOption:hover {
    background-color: white;
    color: #eb4034;
}

.headerSearch{
    padding: 5px;
    background-color: white;
}


.headerInput{
    border: 1px solid transparent;
    background-color: white;
    font-size: medium;
    outline: none;
    margin: 5px;
}